@model dynamic
@{
    ViewData["Title"] = "Ana Sayfa";
	ViewData["Token"] = Model.token;
}

<!doctype html>
<html class="no-js" lang="en">
<script type="text/javascript">
		if (localStorage.getItem('isLoggedIn') !== 'true') {
		 function preventBack() { window.history.forward(); }
                 setTimeout("preventBack()", 0);
                 window.onunload = function () { return null };
		 }
    </script>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/email.png">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="css/editor/select2.css">
    <link rel="stylesheet" href="css/editor/datetimepicker.css">
    <link rel="stylesheet" href="css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="css/editor/x-editor-style.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="css/data-table/bootstrap-editable.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="css/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Alert Css -->
    <link rel="stylesheet" href="css/alert.css"/>
    <!-- modernizr JS
		============================================ -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>


<body>
<div class="data-table-area mg-b-15" style="margin-top: 10px ; border-radius: 10px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
	                                <div id="toolbar" style="display: flex;">
		                                <select class="form-control dt-tb" style="width: 52%">
			                                <option value="">Dışa Aktar</option>
			                                <option value="all">Hepsini Dışa Aktar</option>
			                                <option value="selected">Seçilenleri Dışa Aktar</option>
		                                </select>
		                                <select class="form-control dt-tb" style="margin-left:10px;width: 65%">
			                                <option selected="selected">Açık Bekleyen Talepler (10)</option>
			                                <option>Devam Eden Talepler (20)</option>
			                                <option>Askıya Alınmış Talepler (21)</option>
			                                <option>İptal Edilen Talepler (22)</option>
			                                <option>Tamamlanmış Talepler (23)</option>
			                                <option>Tüm Talepler (24)</option>
		                                </select>
	                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                <tr>
	                                <th data-field="state" data-checkbox="true"></th>
	                                <th data-field="renk">Durum</th>
	                                <th data-field="refNo">Ref.No</th>
	                                <th data-field="durum">Durum</th>
	                                <th data-field="tarih">Tarih</th>
	                                <th data-field="firma">Firma</th>
	                                <th data-field="proje">Proje</th>
	                                <th data-field="konu">Konu</th>
	                                <th data-field="talep_eden">Talep Eden</th>
	                                <th data-field="destek_personeli">Destek Personeli</th>
	                                <th data-field="gecen_sure">Geçen Süre</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.getList)
                                {
	                                <tr>
		                                <td></td>
		                                @if(item.Durum != null && item.Durum.Equals("AÇIK"))
		                                {
			                                <td><div style="background-color: green ; width: 30px ; height: 20px"></div></td>
		                                }
		                                else
		                                {
			                                <td><div style="background-color: red ; width: 30px ; height: 20px"></div></td>
		                                }
		                                <td><a asp-controller="DetailsPage" 
		                                       asp-action="Index" asp-route-refNo="@item.RefNo" 
		                                       asp-route-firmaAdi="@item.Firma" asp-route-dskRevId="@item.RevizyonId"
		                                       asp-route-token="@Model.token">@item.RefNo</a></td>
		                                
		                                <td><a asp-controller="DetailsPage" 
		                                       asp-action="Index" asp-route-refNo="@item.RefNo" 
		                                       asp-route-firmaAdi="@item.Firma" asp-route-dskRevId="@item.RevizyonId"
		                                       asp-route-token="@Model.token">@item.Durum</a></td>
		                                
		                                <td><a asp-controller="DetailsPage" 
		                                       asp-action="Index" asp-route-refNo="@item.RefNo" 
		                                       asp-route-firmaAdi="@item.Firma" asp-route-dskRevId="@item.RevizyonId" 
		                                       asp-route-token="@Model.token">@item.Tarih</a></td>
		                                
		                                <td><a asp-controller="DetailsPage" 
		                                       asp-action="Index" asp-route-refNo="@item.RefNo" 
		                                       asp-route-firmaAdi="@item.Firma" asp-route-dskRevId="@item.RevizyonId"
		                                       asp-route-token="@Model.token">@item.Firma</a></td>
		                                
		                                <td><a asp-controller="DetailsPage" 
		                                       asp-action="Index" asp-route-refNo="@item.RefNo" 
		                                       asp-route-firmaAdi="@item.Firma" asp-route-dskRevId="@item.RevizyonId"
		                                       asp-route-token="@Model.token">@item.Proje</a></td>
		                                
		                                <td><a asp-controller="DetailsPage" 
		                                       asp-action="Index" asp-route-refNo="@item.RefNo" 
		                                       asp-route-firmaAdi="@item.Firma" asp-route-dskRevId="@item.RevizyonId"
		                                       asp-route-token="@Model.token">@item.Konu</a></td>
		                                
		                                <td><a asp-controller="DetailsPage" 
		                                       asp-action="Index" asp-route-refNo="@item.RefNo" 
		                                       asp-route-firmaAdi="@item.Firma" asp-route-dskRevId="@item.RevizyonId" 
		                                       asp-route-token="@Model.token">@item.TalepEden</a></td>
		                                
		                                <td><a asp-controller="DetailsPage" 
		                                       asp-action="Index" asp-route-refNo="@item.RefNo" 
		                                       asp-route-firmaAdi="@item.Firma" asp-route-dskRevId="@item.RevizyonId"
		                                       asp-route-token="@Model.token">@item.DestekPersonel</a></td>
		                                
		                                <td><a asp-controller="DetailsPage" 
		                                       asp-action="Index" asp-route-refNo="@item.RefNo" 
		                                       asp-route-firmaAdi="@item.Firma" asp-route-dskRevId="@item.RevizyonId"
		                                       asp-route-token="@Model.token">@item.GecenSure</a></td>
	                                </tr>
                                }
									
                                </tbody>
                                </table>
                                
	                                <div style="width: 100%; display:flex; justify-content: center">
		                                <a onclick="window.location.href = '/AddRecord?token='+localStorage.getItem('token')" class="btn btn-primary" style="margin-top: 10px">Yeni Kayıt Ekle</a>
	                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Static Table End -->


<!-- jquery
		============================================ -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="js/metisMenu/metisMenu.min.js"></script>
    <script src="js/metisMenu/metisMenu-active.js"></script>
    <!-- data table JS
		============================================ -->
    <script src="js/data-table/bootstrap-table.js"></script>
    <script src="js/data-table/tableExport.js"></script>
    <script src="js/data-table/data-table-active.js"></script>
    <script src="js/data-table/bootstrap-table-editable.js"></script>
    <script src="js/data-table/bootstrap-editable.js"></script>
    <script src="js/data-table/bootstrap-table-resizable.js"></script>
    <script src="js/data-table/colResizable-1.5.source.js"></script>
    <script src="js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
		============================================ -->
    <script src="js/editable/jquery.mockjax.js"></script>
    <script src="js/editable/mock-active.js"></script>
    <script src="js/editable/select2.js"></script>
    <script src="js/editable/moment.min.js"></script>
    <script src="js/editable/bootstrap-datetimepicker.js"></script>
    <script src="js/editable/bootstrap-editable.js"></script>
    <script src="js/editable/xediable-active.js"></script>
    <!-- Chart JS
		============================================ -->
    <script src="js/chart/jquery.peity.min.js"></script>
    <script src="js/peity/peity-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="js/plugins.js"></script>
    <!-- main JS
		============================================ -->
	<script src="js/main.js"></script>
	<!-- Log In JS -->
	<script src="js/login.js"></script>
	

</body>
@if (TempData["Failure"]!=null)
	{
		<script src="js/cute-alert.js"></script>
		<script type="text/javascript">
	    cuteAlert({
                      type: "error",
                      title: "Hata",
                      message: "@TempData["Failure"]",
                      buttonText: "Tamam",
                    })               	
        </script>
	}
@if (TempData["Success"]!=null)
	{
		<script src="js/cute-alert.js"></script>
		<script type="text/javascript">
	    cuteAlert({
                      type: "success",
                      title: "Başarılı",
                      message: "@TempData["Success"]",
                      buttonText: "Tamam",
                    })               	
        </script>
	}
</html>